body {
    /* background-color: rgb(242, 242, 242); */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body, textarea, input {
    font-family: Gelion, Helvetica, "Helvetica Neue", Arial;
    line-height: 1.5;
    font-size: 1.4rem;
    color: rgb(3, 3, 3);
    letter-spacing: -0.1px;
}

.container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
    padding: 0 40px;
    margin: 0 auto;
}

.brand_logo_image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
    border: 0px;
    object-fit:  contain;
    margin-top: 3rem;
}

.menu-items__list {
    list-style: none;
    display: flex;
    font-family: Inter;
    font-size: 14px;
    gap: 2rem;
}

.menu-items__list li {
    cursor : pointer;
}

.image-with-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    row-gap: 2rem;
    padding: 2rem 0;
}

.image-content img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 437px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
    border: 0px;
    margin-right: 2rem;
}

.content-heading {
    white-space: pre-line;
    color: rgb(3, 3, 3);
    font-family: "Playfair Display";
    font-size: 54px;
    letter-spacing: 0px;
    line-height: 72px;
    text-align: left;
    text-transform: none;
    margin-bottom: 4rem;
    
}

.content-description {
    color: rgb(3, 3, 3);
    font-family: Inter;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 22px;
    text-align: left;
    text-transform: none;
    margin-bottom: 3rem;
}

.content-button {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    max-width: 211px;
    width: 100%;
    height: 56px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 3);
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    line-height: 13px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 0px;
}
.content-button:hover{
    background-color: rgba(165, 91, 0, 0.488) ;
    color: black;
    cursor: pointer;
}
.category-heading {
    text-align: center;
    font-size: 36px;
    font-family: 'Playfair Display';
    color: rgb(3, 3, 3);
}

.category-item img {
    width: 276px;
    height: 394px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
    border: 0px;
    object-fit: cover;
}

.category-items {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    overflow-x: scroll;
}

.category-items::-webkit-scrollbar {
    display: none;
}

.category-name {
    color: rgb(3, 3, 3);
    font-family: "Playfair Display";
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 28px;
    text-align: left;
    text-transform: none;
}

.recommended-heading {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 36px;
    padding: 4rem 0;
}

.summervibes-heading {
    overflow: hidden;
    white-space: pre-wrap;
    max-width: 153px;
    height: 84px;
    margin: 0px;
    color: rgb(3, 3, 3);
    font-family: "Playfair Display";
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 42px;
    text-align: left;
    text-transform: none;
}

.summervibes-subheading {
    overflow: hidden;
    white-space: pre-wrap;
    max-width: 193px;
    height: 80px;
    margin: 0px;
    color: rgb(3, 3, 3);
    font-family: Inter;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px;
    text-align: left;
    text-transform: none;
    margin: 2rem 0;
}

.summervibes-button {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    width: 141px;
    height: 37px;
    color: rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: none;
    line-height: 13px;
    padding: 0px 10px;
    border-radius: 0px;
    box-shadow: 0 1px 0 rgb(3 ,3, 3);
    border: 1px solid rgb(255, 255, 255);
}

.product-name {
    overflow: hidden;
    white-space: pre-wrap;
    width: 120px;
    height: 16px;
    margin: 0px;
    color: rgb(193, 193, 193);
    font-family: Inter;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 14px;
    text-align: left;
    text-transform: none;
}

.product-name__price {
    margin-top: 1rem;
}

.marg-top-3 {
    margin-top: 3rem;
}

.product-price {
    overflow: hidden;
    white-space: pre-wrap;
    width: 177px;
    height: 30px;
    margin: 0px;
    color: rgb(3, 3, 3);
    font-family: "Playfair Display";
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 28px;
    text-align: left;
    text-transform: none;
}

.sold-out-product {
    position: relative;
}

.soldout-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    max-width: 97px;
    height: 33px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 3);
    font-family: Inter;
    font-size: 12px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: none;
    line-height: 13px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 0px;
}

.writtenby {
    position: relative;
}

.writtenby_images {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 1rem;
}

.writtenby img{
    width: 100%;
    height: 291px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
    border: 0px;
    object-fit: cover;
}

.writtenby_content {
    position: absolute;
    right: 0;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .4rem;
    width: 156px;
    height: 68px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    border: 0px;
}

.relative {
    position: relative;
    width: 50%;
}

.writtenby_content {
    position: absolute;
}

.writtenby2 img{
    width: 100%;
}


.writtenby_text {
    overflow: hidden;
    white-space: pre-wrap;
    width: 80px;
    height: 14px;
    margin: 0px;
    color: rgb(193, 193, 193);
    font-family: Inter;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 14px;
    text-align: left;
    text-transform: none;
    margin-left: 1rem;
}

.writtenby_name {
    overflow: hidden;
    white-space: pre-wrap;
    width: 130px;
    height: 19px;
    margin: 0px;
    color: rgb(3, 3, 3);
    font-family: "Playfair Display";
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 19px;
    text-align: left;
    text-transform: none;
    margin-left: 1rem;
}
.writtenby:hover .writtenby_content {
    background-color: rgb(165, 91, 0) ;
    color: black;
    cursor: pointer;
}
.aboutus-content {
    padding: 8rem 0;
}

.subscription {
    padding: 0 0 8rem 0;
}

.subscription-heading {
    overflow: hidden;
    white-space: pre-wrap;
    max-width: 389px;
    margin: 0px auto;
    color: rgb(3, 3, 3);
    font-family: "Playfair Display";
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 28px;
    text-align: center;
    text-transform: none;
}

.subscription_input {
    /* display: block; */
    outline: none;
    width: 526px;
    height: 39px;
    color: rgb(3, 3, 3);
    background-color: rgb(238, 238, 238);
    font-family: "Playfair Display";
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 39px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 0px;
    pointer-events: auto;
}

.subscribe_button {
    /* display: block; */
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    width: 121px;
    height: 39px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 3);
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    line-height: 13px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 0px;

}
.subscribe_button:hover{
    background-color: rgba(165, 91, 0, 0.488);
    color: black;
    cursor: pointer;
}

.edition_name {
    width: 100%;
}

.subscription_content {
    display: flex;
    justify-content: center;
}

footer
{
    width: 100%;
    padding: 0 0 4rem 0;
}

.footer_content_wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

.footerbrand img {
    width: 139px;
    height: 128px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
    border: 0px;
}

.footer_multiple_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

#currency_selector {
    display: block;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: normal;
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0px;
    color: rgb(79, 79, 79);
    line-height: 40px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: Inter;
    font-size: 14px;
    pointer-events: auto;
}

.selector {
    position: relative;
    display: block;
    overflow: hidden;
    width: 98px;
    height: 40px;
    padding: 0px 6px;
    font-family: Inter;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-transform: none;
    color: rgb(79, 79, 79);
    background-color: rgb(238, 238, 238);
    border-radius: 0px;
    border: 0px;
    pointer-events: auto;
    margin-top: 2rem;
}

.sub_list_heading.sub_list_item {
    overflow: hidden;
    white-space: pre-wrap;
    width: 80px;
    height: 14px;
    margin: 0 0 1.5rem 0;
    color: rgb(193, 193, 193);
    font-family: Inter;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 14px;
    text-align: left;
    text-transform: none;
}

.sub_list_item {
    overflow: hidden;
    white-space: pre-wrap;
    width: 80px;
    height: 19px;
    margin: 0.7rem 0;
    color: rgb(3, 3, 3);
    font-family: "Playfair Display";
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 19px;
    text-align: left;
    text-transform: none;
}

.selector svg {
    position: absolute;
    right: 8px;
    width: 10px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 25px;
    }
    .container.footer_content_wrapper {
        padding: 8rem 0 8rem 0 ;
    }
    footer{
        padding: 0;
    }
    .content-heading {
        font-size : 32px;
    }
    .recommended-heading , .category-heading {
        font-size: 24px;
    }
    
    .subscription_input {
        width: fit-content;
    }
    .footer_content_wrapper {
        flex-wrap: wrap;
    }
    .footer_multiple_lists  ul {
        padding: 0;
    }
    .no-m {
        display: none;
    }
    .relative {
        width: 100%;
    }
    .writtenby_images { 
        flex-wrap: wrap;
    }
    .subscription-heading {
        white-space: normal;
        margin-bottom: 1rem;
    }
  }

  @media only screen and (min-width: 769px) { 
    .no-d {
        display: none;
    }

  }






  .topnav {
    overflow: hidden;
    background-color: rgb(3, 3, 3);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(3, 3, 3);
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .brand_logo_image{
        margin-top: 0;
        height: 25px;
        width: auto;
    }
  }